<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Blank</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300|Roboto:100" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100" rel="stylesheet">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
  </head>
  <body>
    <!-- adjust columns for small windows -->
    <header>
      <div class="container">
        <div class="row">
          <div class="col-xs-8 col-xs-offset-2">
            <nav>
              <button class="nav" id="home">Home</button>
              <button class="nav" id="profile">Profile</button>
              <button class="nav" id="projects">Projects</button>
              <button class="nav" id="contact">Contact</button>
            </nav>
            <h1 id="name">Amber Quoss</h1>
            <h2 id="subtitle">Personal API</h2>
            <div class="row" id="headingAddOn">
              <p class="col-sm-8 col-sm-offset-2" id="description">Welcome to my personal API! Here you can find information on my past projects, and general tidbits about me.</p>
              <button id="tidbit" class="emphasize">Generate a Tidbit</button>
            </div>
          </div>
        </div>
      </div>
    </header>
      <div class="container">
        <div class="row" id="body">
          <div class="col-md-8 col-md-offset-2" id="data"></div>
          <div class="btn-group" data-toggle="buttons">
            <h3 id="project-title">Project Archive</h3>
            <label class="btn btn-danger active" id="view-all">View All Projects</label>
            <label class="btn btn-danger inactive" id="new-project">Add New Project</label>
          </div>
          <div id="large-pic" class="col-xs-12">
            <script type="text/x-handlebars-template" id="all-info">
              <h2><strong>{{name}}</strong></h2>
              <h4>{{dateCreated}}</h4>
              <h4>{{description}}</h4>
              <h4>See the full project <strong><a href="{{deploymentSite}}">here</a></strong><h4>
              <button type="button" class="btn btn-success" id="return">Return</button>
              <button type="button" class="btn btn-danger" id="delete">Delete</button>
            </script>
          </div>
          <div id="project-container">
            <script type="text/x-handlebars-template" id="project-template">
              <div class="image-wrapper col-md-4 col-sm-6">
                <img src="{{screenshot}}" class="project-img"></img>
                <h4>{{name}}</h4>
              </div>
            </script>
          </div>
          <form id="project-form">
            <div class="form-group">
              <label>Name</label>
              <input type="text" class="form-control" name="name">
            </div>
            <div class="form-group">
              <label>Description</label>
              <input type="text" class="form-control" name="description">
            </div>
            <div class="form-group">
              <label>Date Created</label>
              <input type="text" class="form-control" name="dateCreated" placeholder="mm/dd/yyyy">
            </div>
            <div class="form-group">
              <label>Technologies</label>
              <input type="text" class="form-control" name="technologies" placeholder="List of technologies used">
              <!-- <small>Separate items with a single space</small> -->
            </div>
            <div class="form-group">
              <label>Deployment Site</label>
              <input type="text" class="form-control" name="deploymentSite" placeholder="Link to url">
            </div>
            <div class="form-group">
              <label>Screenshot</label>
              <input type="text" class="form-control" name="screenshot" placeholder="/Desktop/Screenshots/" id="screenshot">
            </div>
            <input type="submit" class="btn btn-danger" id="submit">
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
