/*header red part moves up to under name whenver you click on something else*/

body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.nav {
  margin-top: 30px;
  background-color: rgba(0,0,0,0);
  border: none;
  font-size: 17px;
  padding: 10px;
}

header {
  background-color: #e8191b;
  color: white;
}

#name {
  font-size: 60px;
  font-weight: bold;
  margin-top: 50px;
  font-family: 'Raleway', sans-serif;
}

#subtitle {
  font-size: 40px;
  margin-bottom: 50px;
}

#tidbit {
  border-width: 3px;
  border-style: solid;
  border-color: white;
  background-color: rgba(0,0,0,0);
  font-size: 17px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 30px;
}

#description {
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
}

.nav:hover {
  transition: all 0.5s ease;
  font-size: 22px;
  text-decoration: underline;
}

#tidbit:hover {
  transition: all 0.5s ease;
  padding: 15px;
  font-size: 25px;
}

#data {
  font-size: 26px;
}

.emphasize {
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
}

#profilePic {
  height: auto;
  width: 30%;
}

#profilePic:hover {
  transition: all 0.5s ease;
  width: 45%;
}

#body {
  margin-top: 50px;
}

.form-group {
  text-align: left;
  font-size: 16px;
  margin: 30px;
}

form {
  margin-bottom: 100px;
  font-family: 'Open Sans', sans-serif;
}

.inactive {
  background-color: rgba(201,48,44,.6);
}

.btn-group {
  font-family: 'Open Sans', sans-serif;
}

.image-wrapper {
  margin-top: 50px;
  height: 250px;
}

.project-img {
  height: 200px;
  max-width: 100%;
}

#project-title {
  margin: 80px 0 80px 0;
}

#large-pic {
  height: 500px;
  margin: 30px 0 30px 0;
}

#all-info {
  font-family: 'Raleway', sans-serif;
}

/*
#image-wrapper span {
  background-color: red;
}*/
